<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Formulario de contacto</h1>
    <form method="POST" action="">
      <label for="name">Nombre:</label>
      <input type="text">
      <label for="email">Correo Electrónico</label>
      <input type="email" name="email">
      <label for="comment">Comentario:</label>
      <textarea name="message"></textarea>
      <button type="submit">Enviar mensaje</button>
    </form>
  </body>
</html>
