<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <main>
    <h1>Formulario de contacto</h1>
    <form id="contacto-form" action="/form-contacto" method="POST" >
      <label for="name">Nombre:</label>
      <input type="text" name="name" placeholder="Jhon Doe" required id="name">
      <label for="email">Correo Electrónico:</label>
      <input type="email" name="email"  placeholder = "ejemplo@gmail.com" required id="email">
      <label for="comment">Comentario:</label>
      <textarea name="mensaje"  placeholder="Escribe un mensaje..." id="mensaje" required></textarea>
      <button type="submit" id="submit-btn">Enviar</button>
    </form>
  </main>
</body>
</html>